/* 文字顏色 */
.white {
  color: #ffffff;
}
.gray {
  color: #cccccc;
}

/* 背景顏色 */
.bg-white {
  background-color: #ffffff;
}

/* 按鈕顏色(整顆上色版)-sunshine */
.btn-sunshine {
  background-color: #f2ce63;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #707070;
}
.btn-sunshine:hover {
  background-color: #ffa500;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #707070;
}
/* 按鈕顏色(邊框上色版)-sunshine */
.btn-outline-sunshine {
  background-color: #ffffff;
  border: 1px solid #ffa500;
  border-radius: 5px;
  color: #ffa500;
}
.btn-outline-sunshine:hover {
  background-color: #ffa500;
  border: 1px solid #ffa500;
  border-radius: 5px;
  color: #ffffff;
}
/* 按鈕顏色(邊框上色版)-watermelon */
.btn-outline-watermelon {
  background-color: #ffffff;
  border: 1px solid #f26666;
  border-radius: 5px;
  color: #f26666;
}
.btn-outline-watermelon:hover {
  background-color: #f26666;
  border: 1px solid #f26666;
  border-radius: 5px;
  color: #ffffff;
}

/* 日曆寬度 */
.calendar-width {
  width: 100%;
}

/* 固定表格欄寬 */
.host-table{
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}
@media (max-width: 960px) {
  .host-rwd-edit-title {
      text-align: left;
  }
}