* {
  box-sizing: border-box;
}
#marketing_promo_section .promo_link_wrap {
  overflow: hidden;
  position: relative;
}
#marketing_promo_section .promo_link_wrap::before{

}
#marketing_promo_section .promo_link_wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#marketing_promo_section .promo_links {
  display: flex;
  justify-content: space-between;
}
#marketing_promo_section .promo_link_wrap {
  flex-basis: 30%;
  margin-bottom: 1rem;
}
#marketing_promo_section .promo_link_wrap img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.couponlist_link_btn {
  color: #fff;
  background: #87b061;
  display: inline-block;
  width: 64px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 5px;
  margin-left: auto;
}
@media (max-width: 992px) {
  #marketing_promo_section .promo_links {
    flex-direction: column;
  }
  #marketing_promo_section .promo_link_wrap {
    flex-basis: 200px;
  }
}
