.food-default{
  color: #707070;
}
/* 麵包屑的修改 */
.breadcrumb {
  background-color: #ffffff;
  color: #707070;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.f-ulBreadcrumb{
  padding: 0;
}
.f-liBreadcrumb{
  padding: 0;
}
/* 麵包屑結束 */

/* Food.js排版開始 */
.col-big{
  border: 1px solid #693d31;
}
.col-in{
  border: 1px solid #141a6d;
}
.f-margin-bottom{
  margin-bottom: 100px;
}
/* Food.js排版結束 */

/* FoodSlider排版開始 */
.fslider-img{
  height: 300px;
  object-fit: cover;
}
@media (max-width:768px) {
  .fslider-img{
      display: none;
  }
}

/* FoodSlider排版結束 */

/* FoodLeftSide左邊商品選單開始 */
.fleft-Li{
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
}

.fleft-all:hover {
  color: #027252; 
}
.fleft-all-active {
  color: #027252; 
  font-weight: bolder;
}
.fleft-link:hover{
  cursor: pointer;
  color: #693D31;
  background: #f2ce63;
}
.fleft-active {
  background: #f2ce63;
  color: #693D31;
  padding: 5px 2px;
}

/* FoodLeftSide左邊商品選單結束*/
/* FoodList開始 */
.f-listb{
  border: 1px solid #141a6d;
}
.flist-cardMarginTop{
  margin-top: 4px;
}
.flist-cardMargin{
  margin-bottom: 0;
}
.flist-img{
  opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.flist-img:hover{
  opacity: .7;
}
.flist-suggestprice{
  content: "";
  position: relative;
}
.flist-suggestprice:after{
  content: "";
  position: absolute;
  border-top: 1.5px solid #707070;
  width: 16%;
  left: 83%;
  bottom: 10px;
  text-align:center;
}
/* FoodList結束 */

/* FoodDetails開始 */
/* 詳細商品頁左邊開始 */
.fl-imgSm{
  padding: 0 -15px;
  margin: 0 0 0 -12px;
}
/* 詳細商品頁左邊結束 */
/* 詳細商品頁右邊商品開始 */
.su-price {
  color: #cccccc;
  margin: 0 0 -10px 0;
}
.btn-number {
  background-color: #ffffff;
  border: 1px solid #693d31;
}
.input-number {
  background-color: #ffffff;
  border: 1px solid #693d31;
}
.group-number {
  margin: -15px 0 0 -15px;
}
.btn-add {
  margin: 15px 0 0 -14px;
}
.btn-addcol{
  /* padding:0; */
}
.btn-addlove {
  background-color: #cccccc;
  border: 1px solid transparent;
  color: #ffffff;
  width: 100%;
}
.btn-addlove-active {
  background-color: #fd7156;
  border: 1px solid transparent;
  color: #ffffff;
  width: 90%;
}
.btn-addlove:hover {
  background-color: #fd7156;
  border: 1px solid transparent;
  color: #ffffff;
}
/* .btn-addlove.active.focus {
  background-color: #fd7156;
  border: 1px solid transparent;
  color: #ffffff;
} */
.btn-order{
  width: 100%;
}
.btn-grass:active {
  background-color: #027252;
  border: 1px solid transparent;
  color: #ffffff;
}
/* 付款與運送 */
.pay-cardbody {
  padding: 10px;
}
.pay-method {
  background-color: #f5f5f5;
}
.pay-title {
  border-left: 3px solid #027252;
  padding-left: 6px;
  margin-bottom: 6px;
}
.pay-dt {
  margin: 0;
}
/* 右邊商品結束 */

/* 中間詳細開始 */
/* 詳細說明 */
.dt-border {
  border-bottom: 1.5px solid #cccccc;
}
.dt-title{
  margin-bottom: 4px;
}
.img-title {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 2px;
}
/* 相關推薦 */
.comment-bd{
  margin: 6px;
}
.comment-active{
  border-bottom: 2px solid #027252;
}
/* FoodDetails結束*/
/* FoodOrder開始 */
.forder01-title {
  border-bottom: 1.5px solid #cccccc;
  /* width: 60%; */
  text-align: center;
}
.forder01-totalcon{
  margin-top: -15px
}
.forder01-total{
  border: 1px solid #cccccc77;
  border-radius: 2px;
  text-align: end;
  padding: 0 2px;
}
.forder01-ser{
  border: 1px solid #cccccc77;
  border-radius: 2px;
  padding: 0 2px;
  overflow: scroll;
  height: 150px;
}
/* 送出或返回button */
.forder01-btncon{
  margin-bottom: 100px;
}
.forder-btn{
  border:none;
}
/* FoodOOrder02開始 */
.forder02-dn{
  display: none;
}
/* FoodOrder02結束 */
/* FoodOrder結束 */
