.food-default{
  color: #707070;
}
.food-ccc{
  color: #cccccc;
}
.food-fs16{
  font-size: 1rem;
}
.food-fs12{
  font-size: 0.75rem;
}
.fborder{
  border: 1px solid #141a6d;
}
.fborder2{
  border: 1px solid #119166;
}
/* 麵包屑的修改 */
.food_bread{
  background: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
/* 麵包屑結束 */

/* Food.js排版開始 */
.col-big{
  border: 1px solid #693d31;
}
.col-in{
  border: 1px solid #141a6d;
}
.f-margin-bottom{
  margin-bottom: 100px;
}
/* Food.js排版結束 */

/* FoodSlider排版開始 */
.fslider-img{
  height: 300px;
  object-fit: cover;
}

/* FoodSlider排版結束 */

/* FoodLeftSide左邊商品選單開始 */
.fleft-Li{
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
}
.fleft-all:hover {
  color: #027252; 
}
.fleft-all-active {
  color: #027252; 
  font-weight: bolder;
}
.fleft-link:hover{
  cursor: pointer;
  color: #693D31;
  background: #f2ce63;
}
.fleft-active {
  background: #f2ce63;
  color: #693D31;
  padding: 5px 2px;
}
.f-rwdcon {
  width: 100%;
  background-color: #cccccc6b;
}
.f-rwdLeftside{
  padding-left: -15px;
  min-height: 40px;
}

/* FoodLeftSide左邊商品選單結束*/
/* FoodList開始 */
.flist-cardMarginTop{
  margin-top: 4px;
}
.flist-cardMargin{
  margin-bottom: 0;
}
.flist-card{
  min-height: 280px;
}
.flist-cardBody{
  min-height: 120px;
}
.flist-cardName{
  font-size: 18px;
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
}
.flist-cardImg{
  opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
  object-fit: cover;
  width: 100%;
  min-height: 170px;
  max-height: 170px;
} 
.flist-cardImg:hover{
  opacity: .7;
}
.flist-suggestprice{
  content: "";
  position: relative;
  color: #cccccc;
}
.flist-price{
  font-size: 18px;
}
/* FoodList結束 */

/* FoodDetails開始 */
/* FoodDetailsTop詳細商品頁左邊開始 */
.f-carousel-item img {
  min-height: 450px;
  max-height: 450px;
  object-fit: cover;
}
.f-smimg img{
  min-height: 76px;
  max-height: 76px;
  object-fit: cover;
}
.fl-imgSm{
  padding: 0 -15px;
  margin: 0 0 0 -12px;
}
/* 詳細商品頁左邊結束 */
/* 詳細商品頁右邊商品開始 */
.su-price {
  color: #cccccc;
  margin: 0;
}
.btn-number {
  background-color: #ffffff;
  border: 1px solid #693d31;
}
.input-number {
  background-color: #ffffff;
  border: 1px solid #693d31;
}
.group-number {
  margin: -15px 0 0 -15px;
}

.btn-addlove {
  text-decoration: transparent;
  text-shadow: black 0 0 3px;
  border: 1px solid transparent;
  text-align: end;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  transition: .5s;
}
.btn-addlove:hover, .btn-addlove:active {
  text-decoration: transparent;
  text-shadow: black 0 0 3px;
  color: #fd7156;
  border: 1px solid transparent;
  font-size: 20px;
}
.btn-addlove-active {
  text-decoration: transparent;
  text-shadow: black 0 0 3px;
  border: 1px solid transparent;
  color: #fd7156;
  font-size: 20px;
}
.btn-addlove-active:hover, .btn-addlove-active:active {
  text-decoration: transparent;
  text-shadow: black 0 0 3px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 20px;
}

/* .btn-addlove.active.focus {
  background-color: #fd7156;
  border: 1px solid transparent;
  color: #ffffff;
} */
.btn-order{
  width: 100%;
}
.btn-grass:hover {
  text-decoration: none;
  background-color: #027252;
  border: 1px solid transparent;
  color: #ffffff;
}
/* 付款與運送 */
.pay-cardbody {
  padding: 10px;
}
.pay-method {
  background-color: #f5f5f5;
}
.pay-title {
  border-left: 3px solid #027252;
  padding-left: 6px;
  margin-bottom: 6px;
}
.pay-dt {
  margin: 0;
}
/* 右邊商品結束 */

/* FoodDetailsMd中間詳細開始 */
/* 詳細說明 */
.dt-border {
  border-bottom: 1.5px solid #cccccc;
}
.dt-title{
  margin-bottom: 4px;
}
.img-title {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 2px;
}
.dt-img{
  object-fit: cover;
  min-height: 270px;
  max-height: 270px;
  min-width: 270px;
  max-width: 270px;
}
/* 相關推薦 */
.comment-bd{
  margin: 6px;
}
.comment-active{
  border-bottom: 2px solid #027252;
}
/* FoodDetails結束*/
/* FoodOrder開始 */
.forder01-title {
  border-bottom: 1.5px solid #cccccc;
  /* width: 60%; */
  text-align: center;
}
.forder01-totalcon{
  margin-top: -15px
}
.forder01-total{
  border: 1px solid #cccccc77;
  border-radius: 2px;
  text-align: end;
  padding: 0 2px;
}
.forder01-ser{
  border: 1px solid #cccccc77;
  border-radius: 2px;
  padding: 0 2px;
  overflow: scroll;
  height: 200px;
}
/* 送出或返回button */
.forder01-btncon{
  margin-bottom: 100px;
}
.forder-btn{
  background-color: #cccccc; 
}
.forder-btn:hover{
  background-color: #cfcece; 
  color: #535151;
  text-decoration: transparent;
}
.forder-btnNext:hover{
  color: #693D31;
  text-decoration: transparent;
  background-color: #f2ce63;
}
/* FoodOOrder02開始 */
.forder02-dn{
  display: none;
}
.forder-conPadding{
  padding: 0 45px;
}
/* FoodOrder02結束 */
/* FoodOrder03開始 */
.forder03-border{
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.forder03-title {
  border-bottom: 1.5px solid #cccccc;
}
.custom-control-label:before {
  background-color: rgba(204, 204, 204, 0.5)
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #027252;
}

/* FoodOrder03結束 */
/* FoodOrder結束 */

@media (min-width:768px) { /* 電腦版 */
  .f-rwd, .f-rwdcon {
    display: none;
  }
}
@media (max-width:768px) { /* 手機版 */
  .f-web {
    display: none;
  }
  .f-leftside{
    display: none;
  }
  .flist-col{
    padding: 0 4px;
    /* padding-right: 4px; */
  }
  .flist-card {
    min-height: 276px;
}
  .flist-cardImg{
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    object-fit: cover;
    width: 100%;
    min-height: 155px;
    max-height: 155px;
  }
  .flist-cardName{
    font-size: 16px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
  }
  .flist-price{
    font-size: 16px;
  }
  /* 詳細頁 */
  .f-carousel-item img {
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  .f-smimg img{
    min-height: 50px;
    max-height: 50px;
    object-fit: cover;
  }
  .dt-img{
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
  }
  .img-titleDiv{
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
  }
}