/* 蓋過的CSS */
.fs-20 {
  font-size: 20px;
}
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.show::after{
  background-color: transparent;
}

/* 個人卡片開始 */
.profile {
  box-shadow: 1px 2px 5px #ccc;
}

.avatar {
  width: 120px;
  height: 120px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.level_badge {
  width: 25px;
  height: 25px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}
/* 個人卡片結束 */



/* 左方導覽列開始 */
aside .box {
  width: 25px;
  height: 25px;
}
aside .mem_aside {
  color: #707070;
}
aside .mem_aside:hover {
    color: #F2CE63;
}
aside .mem_aside:active {
    color: #87B061;
}
/* 左方導覽列結束 */



/* 右方主頁面開始 */

/* (1)通知設定 */
.custom-control-label:before {
  /* 按鈕初始顏色 */
  background-color: #cccccc;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #87B061;
}

/* (2) 個人資料編輯 */
.asterisk{
  color: red;
}

/* (3) 營地訂單 */
.camp_avatar {
  width: 150px;
  height: 150px;
}
.camp_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 右方主頁面結束 */